.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}
.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid #c5c5c5;
    border-radius: 4px;
    outline-color: #B5292F;
}
.place-order-left .multi-fields {
    display: flex;
    gap: 10px;
}

.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}
.place-order .cart-total button{
    margin-top: 30px;
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.loader {
  width: 18px;
  height: 18px;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #333;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
