.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #888888;
}

.navbar .logo {
    width: max(10%, 80px);
}

.navbar .profile {
    width: 40px;
}

.nav-name {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-name h4 {
    margin-right: 10px;
}

@media (max-width: 900px) {
    .nav-name h4 {
        display: none;
    }
}